    
    <nav class="navbar navbar-expand-lg bg-light bottom-nav">
      <p class="footer-p footer-icon">This site made by <a href="http://www.johnpospisil.com">John Pospisil</a> on <a href="https://github.com/johnpospisil/OregonPics">GitHub</a> using:</p>
      <a href="https://getbootstrap.com"><img class="img-fluid footer-icon footer-small" src="https://upload.wikimedia.org/wikipedia/commons/e/ea/Boostrap_logo.svg"></a>
      <a href="https://www.w3.org/html"><img class="img-fluid footer-icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/64px-HTML5_logo_and_wordmark.svg.png"></a>
      <a href="https://www.w3.org/Style/CSS/Overview.en.html"><img class="img-fluid footer-icon" src="https://upload.wikimedia.org/wikipedia/commons/d/d5/CSS3_logo_and_wordmark.svg"></a>
      <a href="https://expressjs.com"><img class="img-fluid footer-icon" src="https://www.vectorlogo.zone/logos/expressjs/expressjs-ar21.svg"></a>
      <a href="https://nodejs.org/en"><img class="img-fluid footer-icon footer-small" src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Node.js_logo.svg"></a>
      <a href="https://www.mongodb.com"><img class="img-fluid footer-icon footer-small" src="https://upload.wikimedia.org/wikipedia/commons/d/d2/MongoDB-Logo-5c3a7405a85675366beb3a5ec4c032348c390b3f142f5e6dddf1d78e2df5cb5c.png"></a>
      <a href="https://www.heroku.com"><img class="img-fluid footer-icon footer-small" src="https://brand.heroku.com/static/media/heroku-logotype-vertical.f7e1193f.svg"></a>
      <a href="https://c9.io"><img class="img-fluid footer-icon footer-small" src="https://static.c9.io/nc-3.1.4314-7d3d5328-wf/static/plugins/c9.profile/static/images/cloud9-logo.svg"></a>
      
      
      
      
    </nav>
 
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>