<% include partials/header %>

<div class="container register">
    <div style="width: 50%; margin: 25px auto;">
        <h1>Sign Up!</h1>
        <form action="/register" method="POST">
            <div class="form-group">
                <label for="username">* Username</label>
                <input class="form-control" type="text" name="username" id="username" placeholder="username">
            </div>
            <div class="form-group">
                <label for="pasword">* Password</label>
                <input class="form-control" type="password" name="password" id="password" placeholder="password">
            </div>
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input class="form-control" type="text" name="firstName" id="firstName" placeholder="first name">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input class="form-control" type="text" name="lastName" id="lastName" placeholder="last name">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" type="email" name="email" id="email" placeholder="john@doe.com">
            </div>
            <div class="form-group">
                <label for="avatar">Avatar URL</label>
                <input class="form-control" type="text" name="avatar" id="avatar" placeholder="image url">
            </div>
            <div class="form-group">
                <label for="bio">About</label>
                <input class="form-control" type="text" name="bio" id="bio" placeholder="tell us about yourself">
            </div>
            <div class="form-group">
                <label for="adminCode">Admin Access Code</label>
                <input class="form-control" type="password" name="adminCode" id="adminCode" placeholder="optional - only for admins">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Sign Up</button>
            </div>
        </form>  
        
        <a href="/pics" class="btn btn-sm btn-secondary"><i class="fas fa-chevron-left fa-sm"></i> Go Back</a>
    </div>
</div>

<% include partials/footer %>