body {
    font-family: 'Roboto', sans-serif;
}

.nav-link.btn {
    color:white;
    padding: 4px;
    margin: 4px;
}

.register {
    background-image: url(https://images.unsplash.com/photo-1520022283252-ca69c721d247?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2700&q=80);
    padding: 15px 0;
    margin-top: 15px;
    color: white;
    border-radius: 0.3rem;
    border: darkgray 1px solid;
}

.login {
    background-image: url(https://images.unsplash.com/photo-1530563937443-1f02f662fa5c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2767&q=80);
    padding: 15px 0;
    margin-top: 15px;
    color: white;
    border-radius: 0.3rem;
    border: darkgray 1px solid;
}

.jumbotron {
    padding: 30px 15px;
    margin: 15px 0 30px 0;
    border: solid silver 3px;
    background-image: url(https://images.unsplash.com/photo-1465067854253-edf4a67fef86?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2700&q=80);
    color: white;
    border-radius: 0.3rem;
}

.card-img-top {
    border: solid gainsboro 1px;
}

.card-body {
    border: solid gainsboro 1px;
    padding: 10px 10px 15px 10px;
    margin-bottom: 15px;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.fa-camera-retro {
    margin: auto;
}

.card img {
    width: 100%;
    border-top-right-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
}

.card {
    border: 0;
}

.row {
    margin: 0;
}

.delete-form {
    display: inline;
}

