<% include ../partials/header %>

<div class="container"> <!-- adds space to the left and right of the page/div-->
    
    <header class="jumbotron shadow-2">
        <div class="container"> <!-- Allows space between the text and the jumbotron border for small screens-->
            <h1>Beautiful Pics from the Great State of</h1>  
            <h2 class="display-4">OREGON</h2>
            <p>All photos are part of the Public Domain and are free for use!</p>
            <a class="btn btn-primary btn-lg" href="/pics/new">Share A Picture</a>
        </div>
    </header>
    
    <div class="col-md-12">
        <% if(noMatch !== undefined) { %>
            <h3><%= noMatch %></h3>
        <% } %>
    </div>
    
    
    <div class="row text-center">
        <% pics.forEach(function(pic) { %>
            <div class="col-md-6 col-lg-4 col-xl-3 mb-2">
                <div class="card shadow-2">
                    <img class="card-img-top" src="<%= pic.picURL %>">
                    <div class="card-body">
                        <p class="card-title"><%= pic.picName %></p>
                        
                        <% if (pic.rating === 0) { %>
                            <em>No reviews yet.</em>
                        <% } else { %>
                            <span class="fas fa-star checked"></span>
                            <span class="fas fa-star <% if (pic.rating > 1.5) { %> checked <% } %>"></span>
                            <span class="fas fa-star <% if (pic.rating > 2.5) { %> checked <% } %>"></span>
                            <span class="fas fa-star <% if (pic.rating > 3.5) { %> checked <% } %>"></span>
                            <span class="fas fa-star <% if (pic.rating > 4.5) { %> checked <% } %>"></span>
                        <% } %>
                        
                        <a href="/pics/<%= pic._id %>" class="btn btn-outline-primary btn-sm"> More Info</a>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
        
    

</div>

<% include ../partials/footer %>