<% include ../partials/header %>

<div class="container">
    <div class="row d-flex flex-column">
        <h1 class="text-center">Add a New Picture!</h1>
        <div style="width: 50%; margin: 25px auto;">
            <form action="/pics" method="POST">
                <div class="form-group">
                    <label for="picName">Title</label>
                    <input class="form-control" type="text" name="picName" id="picName" placeholder="A place in Oregon">
                </div>
                <div class="form-group">
                    <label for="picURL">URL</label>
                    <input class="form-control" type="text" name="picURL" id="picURL" placeholder="https://www.PathToYourPic.com">
                </div>
                <div class="form-group">
                    <label for="picDescription">Description</label>
                    <input class="form-control" type="text" name="picDescription" id="picDescription" placeholder="Pic Description">
                </div>
                <div class="form-group">
                    <label for="cameraMake">Camera Make</label>
                    <input class="form-control" type="text" name="cameraMake" id="cameraMake" placeholder="Nikon, Canon, etc.">
                </div>
                <div class="form-group">
                    <label for="cameraModel">Camera Model</label>
                    <input class="form-control" type="text" name="cameraModel" id="cameraModel" placeholder="D3100, etc.">
                </div>
                <div class="form-group">
                    <label for="focalLength">Focal Length</label>
                    <input class="form-control" type="text" name="focalLength" id="focalLength" placeholder="18.0mm, etc.">
                </div>
                <div class="form-group">
                    <label for="aperature">Aperture</label>
                    <input class="form-control" type="text" name="aperature" id="aperature" placeholder="ƒ/8.0, etc.">
                </div>
                <div class="form-group">
                    <label for="shutterSpeed">Shutter Speed</label>
                    <input class="form-control" type="text" name="shutterSpeed" id="shutterSpeed" placeholder="1/60s, etc.">
                </div>
                <div class="form-group">
                    <label for="iso">ISO</label>
                    <input class="form-control" type="text" name="iso" id="iso" placeholder="100, etc.">
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input class="form-control" type="text" name="location" id="location" value="Oregon">
                </div>
                
                <div class="form-group">
                    <button class="btn btn-lg btn-outline-primary btn-block">Submit!!!</button>
                </div>
            </form>  
            <a href="/pics" class="btn btn-sm btn-primary"><i class="fas fa-chevron-left fa-sm"></i> Go Back</a> 
        </div>
    </div>
</div>

<% include ../partials/footer %>
